@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #49cd5d;
}

input,
button {
    outline: none;
}

a {
    text-decoration: none;
}

@keyframes name {
    0% {}
    100% {}
}

.logo {
    font-size: 3rem;
    font-family: 'Grechen Fuemen', cursive;
    color: #114a53;
}

.wrapper {
    padding: 1rem 5rem;
    margin: 0 auto;
    max-width: 990px;
}

.avatar {
    width: 300px;
    border-radius: 10px;
}

.content-block {
    display: flex;
    justify-content: space-between;
}

.links {
    display: grid;
    align-items: center;
}

.links a {
    display: block;
    color: white;
    font-size: 2rem;
    transition: all .2s linear;
}

.link-box:hover a {
    transform: scale(1.1);
}

@media (max-width:768px) {
    .logo {
        font-size: 2rem;
    }
    .avatar {
        width: 200px;
    }
    .links a {
        font-size: 1.5rem;
    }
}

@media (max-width:580px) {
    .content-block {
        display: grid;
        gap: 2rem;
        justify-content: center;
    }
    .avatar {
        height: 200px;
        object-fit: cover;
        object-position: 0 10%;
    }
    .links {
        text-align: center;
        gap: 1rem;
    }
}